In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load the dataset

data=pd.read_csv('Housing.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
from sklearn.model_selection import train_test_split

X = data[['price']]  # Independent variable
y = data['price']  # Dependent variable

# Split the data into training and testing sets (adjust test_size as needed)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 2. Implement Lasso Regression:

In [5]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

lasso = Lasso(alpha=1.0)  # You can adjust the alpha parameter for regularization strength
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

# 3. Evaluate the Lasso Regression Model:

In [6]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [7]:
mae

5.674104146454312e-07

In [8]:
mse

5.416961785079264e-13

In [9]:
rmse

7.360001212689617e-07

# 4. Implement Ridge Regression:

In [10]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.001)  # You can adjust the alpha parameter for regularization strength
ridge.fit(X_train, y_train)
y_pred_ridge = ridge.predict(X_test)

In [11]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [12]:
mae

5.674104146454312e-07

In [13]:
mse

5.416961785079264e-13

In [14]:
rmse

7.360001212689617e-07