In [2]:
%matplotlib inline
import pandas as pd

# 1)How many movies are listed in the titles dataframe

In [28]:
import pandas as pd

# Read the CSV file into a dataframe
df = pd.read_csv('titles.csv')

# Get the number of movies in the dataframe
num_movies = df.shape[0]

print(f'Total number of movies listed: {num_movies}')

Total number of movies listed: 244914

# What are the earliest two films listed in the titles dataframe?

In [10]:
earliest_films = df.sort_values('year').head(2)
print("\n The earliest two films listed in the titles DataFrame:")
print(earliest_films[['title', 'year']])

 The earliest two films listed in the titles DataFrame:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# How many movies have the title "Hamlet"?

In [12]:
hamlet_movies = df[df['title'] == "Hamlet"]
num_hamlet_movies = len(hamlet_movies)
print(f"\n Number of movies with the title 'Hamlet': {num_hamlet_movies}")

 Number of movies with the title 'Hamlet': 20

# How many movies are titled "North by Northwest"?

In [14]:
north_by_northwest_count = len(df[df['title'] == 'North by Northwest'])
print("Number of movies titled 'North by Northwest':", north_by_northwest_count)

Number of movies titled 'North by Northwest': 1

# When was the first movie titled "Hamlet" made?

In [15]:
first_hamlet_year = df[df['title'] == 'Hamlet']['year'].min()
print("Year of the first 'Hamlet' movie:", first_hamlet_year)

Year of the first 'Hamlet' movie: 1910

# List all of the "Treasure Island" movies from earliest to most recent

In [17]:

treasure_island_movies = df[df['title'] == 'Treasure Island'].sort_values('year')
print("'Treasure Island' movies:")
print(treasure_island_movies[['title', 'year']])

'Treasure Island' movies:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [19]:
movies_1950_count = len(df[df['year'] == 1950])
print("Number of movies made in 1950:", movies_1950_count)

Number of movies made in 1950: 1113

# How many movies were made in the year 1960?

In [20]:
movies_1950_count = len(df[df['year'] == 1960])
print("Number of movies made in 1960:", movies_1950_count)

Number of movies made in 1960: 1549

# How many movies were made from 1950 through 1959?

In [21]:
movies_1950s_count = len(df[(df['year'] >= 1950) & (df['year'] <= 1959)])
print("Number of movies made from 1950 through 1959:", movies_1950s_count)

Number of movies made from 1950 through 1959: 12934

# In what years has a movie titled "Batman" been released?

In [22]:
batman_years = df[df['title'] == 'Batman']['year'].unique()
print("Years in which 'Batman' movies were released:", batman_years)

Years in which 'Batman' movies were released: [1943 1989]

# How many roles were there in the movie "Inception"?

In [33]:
import pandas as pd
df= pd.read_csv('cast.csv')
inception_roles_count = len(df[df['title'] == 'Inception'])
print("Number of roles in the movie 'Inception':", inception_roles_count)

Number of roles in the movie 'Inception': 78

# How many roles in the movie "Inception" are not ranked by an "n" value?

In [32]:
import pandas as pd
df= pd.read_csv('cast.csv')
inception_cast = df[df['title']=='Inception']
num_unrank=inception_cast['n'].isnull().sum()
print(f'The number of roles in the movie "Inception" are not ranked by an "n" value is: {num_unrank}' )

The number of roles in the movie "Inception" are not ranked by an "n" value is: 27

# How many roles in the movie "Inception" did receive an "n" value?

In [34]:
inception_roles_with_n_count = len(df[(df['title'] == 'Inception') & (df['n'].notna())])
print("Number of roles in 'Inception' with 'n' value:", inception_roles_with_n_count)

Number of roles in 'Inception' with 'n' value: 51

# Display the cast of "North by Northwest" in their correct "n" -value order, ignoring roles with no "n" value

In [35]:
north_by_nw_cast = df[(df['title'] == 'North by Northwest') & (df['n'].notna())].sort_values('n')
print("14) Cast of 'North by Northwest' in 'n' order:")
print(north_by_nw_cast[['name', 'n']])

14) Cast of 'North by Northwest' in 'n' order:
                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# Display the entire cast, in "n" - order, of the 1972 film "Sleuth"

In [36]:
sleuth_1972_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 1972)].sort_values('n')
print("Cast of 'Sleuth' (1972) in 'n' order:")
print(sleuth_1972_cast[['name', 'n']])

Cast of 'Sleuth' (1972) in 'n' order:
                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# Now display the entire cast, in "n" - order of the 2007 version of "Sleuth"

In [39]:
import pandas as pd
df= pd.read_csv('cast.csv')
sleuth_2007_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 2007)].sort_values('n')
print("Cast of 'Sleuth' (2007) in 'n' order:")
print(sleuth_2007_cast[['name', 'n']])

Cast of 'Sleuth' (2007) in 'n' order:
                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

# How many roles were credited in the silent 1921 version of Hamlet?

In [40]:
hamlet_1921_roles_count = len(df[(df['title'] == 'Hamlet') & (df['year'] == 1921)])
print("Number of roles in the silent 1921 version of 'Hamlet':", hamlet_1921_roles_count)

Number of roles in the silent 1921 version of 'Hamlet': 9

# How many roles were credited in Branagh's 1996 Hamlet?

In [42]:
hamlet_1996_roles_count = len(df[(df['title'] == 'Hamlet') & (df['year'] == 1996)])
print("Number of roles in Branagh's 1996 'Hamlet':", hamlet_1996_roles_count)

Number of roles in Branagh's 1996 'Hamlet': 54

# How many "Hamlet" roles have been listed in all film credits through history?

In [44]:
hamlet_total_roles_count = len(titles[titles['title'] == 'Hamlet'])
print(" Total number of 'Hamlet' roles through history:", hamlet_total_roles_count)

 Total number of 'Hamlet' roles through history: 20

# How many people have played an "Ophelia"?

In [47]:
import pandas as pd
df= pd.read_csv('cast.csv')
ophelia_actors_count = len(df[df['name'] == 'Ophelia']['name'].unique())
print("Number of people who played 'Ophelia':", ophelia_actors_count)

Number of people who played 'Ophelia': 0

# How many people have played a role called "The Dude"?

In [50]:
df= pd.read_csv('cast.csv')
the_dude_actors_count = len(df[df['name'] == 'The Dude']['name'].unique())
print("Number of people who played 'The Dude':", the_dude_actors_count)

Number of people who played 'The Dude': 0

# How many people have played a role called "The Stranger"?

In [55]:
df= pd.read_csv('cast.csv')
the_stranger_actors_count = len(df[df['name'] == 'The Stranger']['name'].unique())
print("Number of people who played 'The Stranger':", the_stranger_actors_count)

# How many roles has Sidney Poitier played throughout his career?
sidney_poitier_roles_count = len(df[df['name'] == 'Sidney Poitier'])
print("Number of roles played by Sidney Poitier:", sidney_poitier_roles_count)

Number of people who played 'The Stranger': 0
Number of roles played by Sidney Poitier: 43