# Manipulate using a list

In [24]:
list1 = ['1','232','AIML']

In [12]:
list1

['1', '232', 'AIML']

In [13]:
# Add new elements to the end of the list
list1.append('PYTHON')

In [15]:
list1

['1', '232', 'AIML', 'PYTHON']

In [16]:
# Reverse elements in the list
list1.reverse()

In [17]:
list1

['PYTHON', 'AIML', '232', '1']

In [21]:
#Display the same list of elements multiple times
n = 5
updated_list = list1 * n
print("List displayed {n} times:", updated_list)

List displayed {n} times: ['PYTHON', 'AIML', '232', '1', 'PYTHON', 'AIML', '232', '1', 'PYTHON', 'AIML', '232', '1', 'PYTHON', 'AIML', '232', '1', 'PYTHON', 'AIML', '232', '1']

In [20]:
#Concatenate two list
list2 = ['Tools','50 per','good']
c_list= list1 + list2
print("Concatenated list is:", c_list)

Concatenated list is: ['PYTHON', 'AIML', '232', '1', 'Tools', '50 per', 'good']

In [23]:
#Sort the elements in the list in ascending order
sorted(c_list)

['1', '232', '50 per', 'AIML', 'PYTHON', 'Tools', 'good']

# Write a Python Program to do in the tuples

In [25]:
# Create a tuple
tuple1 = ('1','232','AIML')

In [27]:
tuple1

('1', '232', 'AIML')

In [30]:
# Add new elements to the end of the tuple
tuple2=('Repo','Git')
new_tuple=(tuple1 + tuple2)

In [31]:
new_tuple

('1', '232', 'AIML', 'Repo', 'Git')

In [32]:
# Reverse the elements in the tuple
new_tuple = new_tuple[::-1]
print("The reversed tuple is", new_tuple)

The reversed tuple is ('Git', 'Repo', 'AIML', '232', '1')

In [35]:
# Display an element of the tuple multiple times
n=3
repeated_elements = (new_tuple) * n

In [36]:
repeated_elements

('Git',
 'Repo',
 'AIML',
 '232',
 '1',
 'Git',
 'Repo',
 'AIML',
 '232',
 '1',
 'Git',
 'Repo',
 'AIML',
 '232',
 '1')

In [39]:
 #Concatenate two tuples
tuple3 = tuple2 + new_tuple
print("The concatenated list is", tuple3)

The concatenated list is ('Repo', 'Git', 'Git', 'Repo', 'AIML', '232', '1')

In [41]:
# Sort the elements in the list in ascending order
sorted_tuple = tuple(sorted(tuple3))
print("The sorted tuple is", sorted_tuple)

The sorted tuple is ('1', '232', 'AIML', 'Git', 'Git', 'Repo', 'Repo')

# 3 Write a python program to implement the following

In [42]:
# Create a list with integers
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# Display the last number in the list
last_number = integer_list[-1]
print("Last number in the list:", last_number)

Last number in the list: 10

In [44]:
# Display the values from the list [0:4]
slice1 = integer_list[0:4]
print("Values from index 0 to 3:", slice1)

Values from index 0 to 3: [1, 2, 3, 4]

In [45]:
# Display the values from the list [2:]
slice2 = integer_list[2:]
print("Values from index 2 to the end:", slice2)

Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# Display the values from the list [:6]
slice3 = integer_list[:6]
print("Values from the beginning up to index 5:", slice3)

Values from the beginning up to index 5: [1, 2, 3, 4, 5, 6]

# 4.Write a python Program for the following

In [1]:
# Define the tuple
tuple1 = (10, 50, 20, 40, 30)

In [2]:
tuple1

(10, 50, 20, 40, 30)

In [3]:
# Display the elements 10 and 50 from tuple1
element1 = tuple1[0]
element2 = tuple1[1]

print("Element 1:", element1)
print("Element 2:", element2)

Element 1: 10
Element 2: 50

In [4]:
# Display the length of tuple1
length_of_tuple1 = len(tuple1)
print("Length of tuple1:", length_of_tuple1)

Length of tuple1: 5

In [5]:
# Find the minimum element from tuple1
min_element = min(tuple1)
print("Minimum element in tuple1:", min_element)

Minimum element in tuple1: 10

In [6]:
# Add all elements in tuple1
sum_elements = sum(tuple1)
print("Sum of elements in tuple1:", sum_elements)

Sum of elements in tuple1: 150

In [9]:
# Display tuple1 multiple times
n = 3 
print(f"Displaying tuple1 {n} times:")
for _ in range(n):
    print(tuple1)

Displaying tuple1 3 times:
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5 Write a Python Program

In [11]:
string = "South India"

In [12]:
string

'South India'

In [14]:
# Calculate the length of the string
length = len(string)
print(f"Length of the string: {length}")

Length of the string: 11

In [15]:
# Reverse words in the string
words = string.split()
reversed_words = ' '.join(reversed(words))
print("Reversed words:", reversed_words)

Reversed words: India South

In [19]:
# Display the same string multiple times
num_times = int(input("Enter the number of times to display the string: "))
print("Repeated string:",string * num_times)

Enter the number of times to display the string: 8
Repeated string: South IndiaSouth IndiaSouth IndiaSouth IndiaSouth IndiaSouth IndiaSouth IndiaSouth India

In [20]:
# Concatenate two strings
str1 = "South India"
str2 = input("Enter another string: ")
concatenated_string = str1 + str2
print("Concatenated string:", concatenated_string)

Enter another string: "North India"
Concatenated string: South India"North India"

In [23]:
# Use slicing to display only "India" from str1
Sliced = str1[6:]
print("Sliced string:", Sliced)

Sliced string: India

# 6 Write the following program

In [24]:
# Creating a dictionary
my_dict = {
    'name': 'Nithin',
    'age': 22,
    'city': 'New York'
}

In [25]:
my_dict

{'name': 'Nithin', 'age': 22, 'city': 'New York'}

In [26]:
# Accessing values and keys in the dictionary
print("Accessing values:")
print("Name:", my_dict['name'])
print("Age:", my_dict['age'])
print("City:", my_dict['city'])

Accessing values:
Name: Nithin
Age: 22
City: New York

In [27]:
print("\nAccessing keys:")
for key in my_dict.keys():
    print(key)

Accessing keys:
name
age
city

In [28]:
# Updating the dictionary using a function
def update_age(dictionary, new_age):
    dictionary['age'] = new_age

print("\nUpdating age to 23:")
update_age(my_dict, 23)
print("New Age:", my_dict['age'])

Updating age to 23:
New Age: 23

In [29]:
# Deleting a specific key-value pair
if 'city' in my_dict:
    del my_dict['city']

print("\nAfter deleting 'city' key:", my_dict)

After deleting 'city' key: {'name': 'Nithin', 'age': 23}

# 7 Python program to insert a number to any position in a list

In [30]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# Number to insert
number_to_insert = 6

# Position to insert 
position_to_insert = 2

if position_to_insert >= 0 and position_to_insert <= len(my_list):
   
    my_list.insert(position_to_insert, number_to_insert)
    print(f"Updated list: {my_list}")
else:
    print("Invalid position. Position should be between 0 and the length of the list.")

Updated list: [1, 2, 6, 3, 4, 5]

# 8 Python Program to delete an element from a list by index

In [33]:

my_list = [1, 2, 3, 4, 5]

# Index of the element to delete
index_to_delete = 2

# Delete the element at the specified index
delete_element_by_index(my_list, index_to_delete)

# Display the updated list
print("Updated list after deletion:", my_list)

Deleted element: 3
Updated list after deletion: [1, 2, 4, 5]

# 9 Write a program to display number from 1 to 100

In [36]:
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 Write a python program to find the sum of all items in a tuple

In [38]:
my_tuple = (1, 2, 3, 4, 5)
result = sum(my_tuple)
print(f"Sum of elements in the tuple: {result}")

Sum of elements in the tuple: 15

# 12 A list of words is given.Find the words from the list that have their second character in uppercase
ls = ['hello','Dear','hOw','ARe','You']

In [39]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result = []

for word in ls:
    if len(word) >= 2 and word[1].isupper():
        result.append(word)

print(result)

['hOw', 'ARe']

# 11 Create a dictionary containing three lambda functions square,cube and square root
 Pass the values to the functions in the dictionary respectively
Then add the outputs of each function and print it

In [40]:
# Create a dictionary with lambda functions
function_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Squareroot': lambda x: x ** 0.5
}

# Input values
values = {
    'Square': 4,
    'Cube': 3,
    'Squareroot': 16
}

# Calculate the results and store them in a dictionary
results = {key: function(values[key]) for key, function in function_dict.items()}

# Calculate the sum of the results
total = sum(results.values())

# Print the individual results and the total
for key, value in results.items():
    print(f'{key} result: {value}')

print(f'Total: {total}')

Square result: 16
Cube result: 27
Squareroot result: 4.0
Total: 47.0

# 13 A DICTIONARY OF names and their weights on earth is given. Find how much they will weigh on the moon(use map and lambda functions)Formula : wmoon = (wearth* Gmoon)/GEarth
i) Weight of people in kg
        weightOnEarth ={'John':45,'Shelly':65,'Marry':35}
ii)Gravitational force on the moon : 1.622m/s2
        GMoon= 1.622
iii)Gravitational force on the earth: 9.81 m/s2
        GEarth = 9.81

In [41]:
# Weight of people on Earth
weightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Gravitational forces
GMoon = 1.622
GEarth = 9.81

# Calculate the weights on the moon using map and lambda
weightsOnMoon = list(map(lambda w: (w * GMoon) / GEarth, weightOnEarth.values()))

# Create a dictionary with names and their weights on the moon
weightOnMoon = dict(zip(weightOnEarth.keys(), weightsOnMoon))

# Print the results
for name, weight in weightOnMoon.items():
    print(f"{name}'s weight on the moon: {weight:.2f} kg")

John's weight on the moon: 7.44 kg
Shelly's weight on the moon: 10.75 kg
Marry's weight on the moon: 5.79 kg

# CONTROL STRUCTURES:
1.WRITE A PYTHON PROGRAM TO FIND THE FIRST N PRIME NUMBERS

In [45]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter the value of N: "))
count = 0
num = 2

print(f"The first {n} prime numbers are:")
while count < n:
    if is_prime(num):
        print(num, end=" ")
        count += 1
    num += 1

Enter the value of N: 88
The first 88 prime numbers are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457

# 2.Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic Salary, HRA, TA and  DA.Add these components to calculate the Gross salary.Also,deduct 10% of salary from the Gross salary to be paid as tax and display gross minus tax as net salary

In [46]:
#Allows the user to enter Basic Salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter House Rent Allowance (HRA): "))
ta = float(input("Enter Travel Allowance (TA): "))
da = float(input("Enter Dearness Allowance (DA): "))

# Calculate Gross Salary by adding Basic Salary, HRA, TA, and DA
gross_salary = basic_salary + hra + ta + da

# Calculate tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary by deducting tax from Gross Salary
net_salary = gross_salary - tax

# Display the Gross and Net Salary
print(f"Gross Salary: {gross_salary}")
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 30000
Enter House Rent Allowance (HRA): 7000
Enter Travel Allowance (TA): 3000
Enter Dearness Allowance (DA): 5000
Gross Salary: 45000.0
Tax: 4500.0
Net Salary: 40500.0

# 3 Write a python program to search for a string in the given list

In [48]:
def search_string_in_list(search_string, input_list):
    found_indices = []
    for index, item in enumerate(input_list):
        if search_string in item:
            found_indices.append(index)
    
    return found_indices

# Example list to search within
my_list = ["Name", "Nithin", "Roll no", "date", "Rank", "100", "150.8"]
search_term = "100"

# Search for the search_term in the list
result_indices = search_string_in_list(search_term, my_list)

if result_indices:
    print(f"The search term '{search_term}' was found at indices: {result_indices}")
else:
    print(f"The search term '{search_term}' was not found in the list.")

The search term '100' was found at indices: [5]

# 4.Write a python program that accepts the string and calculates the number of upper case letters and lower case letters

In [49]:
def count_upper_lower(input_string):
    # Initialize counters for uppercase and lowercase letters
    upper_count = 0
    lower_count = 0

    # Iterate through each character in the input string
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

# Input string from the user
user_input = input("Enter a string: ")

# Call the function to count uppercase and lowercase letters
upper_count, lower_count = count_upper_lower(user_input)

# Display the results
print("Uppercase letters:", upper_count)
print("Lowercase letters:", lower_count)

Enter a string: My Name is Nithin
Uppercase letters: 3
Lowercase letters: 11

# 5 Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [50]:
# Initialize variables to store the sum of odd and even numbers
sum_odd = 0
sum_even = 0

# Loop through numbers from 12 to 37 
for number in range(12, 38):
    # Check if the number is odd or even
    if number % 2 == 0:  # Even number
        sum_even += number
    else:  # Odd number
        sum_odd += number

# Display the sum of odd and even numbers
print("Sum of odd numbers:", sum_odd)
print("Sum of even numbers:", sum_even)

Sum of odd numbers: 325
Sum of even numbers: 312

# 6 Write a Python program to print the table of any number

In [53]:
# Get the number for which you want to print the table
number = int(input("Enter a number: "))

# Print the table of the given number
print(f"Table of {number}:")

for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 8
Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# 7.Write a Python Program to sum the first 10 Prime Numbers

In [54]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_10_primes():
    prime_count = 0
    current_number = 2
    prime_sum = 0

    while prime_count < 10:
        if is_prime(current_number):
            prime_sum += current_number
            prime_count += 1
        current_number += 1

    return prime_sum

result = sum_first_10_primes()
print("The sum of the first 10 prime numbers is:", result)

The sum of the first 10 prime numbers is: 129

# 8.Write a python Program to implement arithmetic operations using nested if statement

In [55]:
# Input two numbers and the operation choice
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

# Perform the arithmetic operation based on user's choice
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 == 0:
        result = "Division by zero is not allowed"
    else:
        result = num1 / num2
else:
    result = "Invalid operation"

# Display the result
print("Result:", result)

Enter the first number: 78.88
Enter the second number: 89.99
Enter the operation (+, -, *, /): /
Result: 0.876541837981998

# 9.Write a python program to take the temperature in celcius and convert it to a fahrenheit

In [56]:
# Input temperature in Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit by using the formula
fahrenheit = (celsius * 9/5) + 32

# Display the result
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 98
98.0 degrees Celsius is equal to 208.4 degrees Fahrenheit.

# 10.Write a python program to find a maximum and minimum number in a list without using an in built function

In [58]:
# Function to find the maximum and minimum numbers in a list
def find_max_min(numbers):
    # Check if the list is empty
    if not numbers:
        return None, None

    # Initialize variables to store the maximum and minimum values
    max_num = numbers[0]
    min_num = numbers[0]

    # Iterate through the list to find the maximum and minimum
    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

# Example usage
numbers = [9,7,8,6,5,-1,8,0]
max_value, min_value = find_max_min(numbers)

if max_value is not None and min_value is not None:
    print("Maximum number:", max_value)
    print("Minimum number:", min_value)
else:
    print("The list is empty.")

Maximum number: 9
Minimum number: -1

# 11 Write a python program to print out the number of seconds in 30-day month 30 days,24 hours in a day, 60 minutes per day, 60 seconds in a minute

In [59]:
# Constants
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

# Calculate the number of seconds in a 30-day month
seconds_in_month = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute

# Print the result
print("Number of seconds in a 30-day month:", seconds_in_month)

Number of seconds in a 30-day month: 2592000

In [ ]:
12 Write a python program to print out number of seconds in a year

In [60]:
# Constants
days_in_year = 365.25  # Accounting for leap years
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

# Calculate the number of seconds in a year
seconds_in_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute

# Print the result
print("Number of seconds in a year:", seconds_in_year)

Number of seconds in a year: 31557600.0

# 13.A high speed train can travel at an avaerage speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away

In [61]:
# Constants
average_speed = 150  # mph
distance_to_glasgow = 414  # miles

# Calculate time
time_hours = distance_to_glasgow / average_speed

# Print the result
print(f"It will take the train {time_hours} hours to travel from London to Glasgow at an average speed of {average_speed} mph.")

It will take the train 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to the varaiable.The Program should then print out the total hours that you spend in school from year 7 to year 11.If each day you spend 6 hours in school days_in_each_school_year = 192

In [62]:
# Constants
days_in_each_school_year = 192  # days

# Calculate total hours spent in school
year_7_to_11 = 5  # Years from 7 to 11
total_hours_in_school = year_7_to_11 * days_in_each_school_year * 6  # 6 hours per day

# Print the result
print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15.If the age of Ram, Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three

In [63]:
# Input ages from the user
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"

# Print the results
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 25
Enter Sam's age: 30
Enter Khan's age: 98
The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Ram

# 16.Write a python program to rotate a list by right n times with and without slicing technique

In [64]:
#Without Slicing
def rotate_list_right_without_slicing(lst, n):
    for _ in range(n):
        last_element = lst.pop()
        lst.insert(0, last_element)

# Example usage:
my_list = [1, 2, 3, 4, 5]
rotate_list_right_without_slicing(my_list, 2)
print(my_list)

[4, 5, 1, 2, 3]

In [66]:
#With Slicing
def rotate_list_right_with_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the list length
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list_right_with_slicing(my_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

# 17 Python Program to print the patterns given below

In [67]:
# Function to print a right triangle pattern with numbers
def print_right_triangle_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()  # Move to the next line after each row

# Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Call the function to print the right triangle pattern
print_right_triangle_pattern(n)

Enter the number of rows: 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [69]:
# Function to print a right triangle pattern with Asterisks
def print_right_triangle_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()  # Move to the next line after each row

# Input the number of rows for the pattern
n = int(input("Enter the number of rows: "))

# Call the function to print the right triangle pattern
print_right_triangle_pattern(n)

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [70]:
# Function to print a right triangle pattern with character
text = "python"

for i in range(len(text)):
    for j in range(i + 1):
        print(text[j], end=" ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n